
*,::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  /* scroll-behavior: smooth; */
}

body{
  font-family: nunito sans, sans-serif;
}

/* -------- Navigation --------- */

nav{
  position: fixed;
  height: 70px;
  width: 100%;
  background: #333;
  border-bottom: 1px dotted #f1f1f1;
  background: linear-gradient(to bottom, #333, #626262);
}

.logo-menu{
  position: fixed;
  top:10px;
  right: 15px;
  width: 50px;
  z-index: 200;
  display: none;
}

.liste-nav{
  background: #333;
  background: linear-gradient(to bottom, #333, #626262);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  position: fixed;
  z-index: 100;
}

.item-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-nav a{
  text-decoration: none;
  color: #f1f1f1;
  margin: 0 20px;
  font-size: 25px;
}

.item-nav a::after{
  content: '';
  display: block;
  margin: 0 auto;
  width: 0%;
  height: 2px;
  background: #f1f1f1;
  transition: all 0.2s ease-in-out;
}

.item-nav a:hover::after{
  width: 100%;
}

/* --------  --------- */
